/* custome background */
body {
  background-image: url('http://2.bp.blogspot.com/-wNjmQU8A1HQ/V-bOo35KaRI/AAAAAAAAFVY/OLAiCX67v8olZk7B6HG0GMXih9nuUROogCK4B/s0/windows-xp-bliss-start-screen-100259803-orig.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow-x: hidden;
}
/* https://mikethedj4.github.io/Webkit-Scrollbar-Generator/ */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #E0E0FF;//#84e3ff;
  border: 2px solid #6666ff;//#6699cc;
  border-radius: 73px;
}
::-webkit-scrollbar-thumb:hover {
  background: #C1C1FF;//#87ceeb;
}
::-webkit-scrollbar-thumb:active {
  background: #A3A3FF;//#6699cc;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
div#main.main.section {
  display: none;
}
